{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": "sts:AssumeRole",
      "Principal": ${principalsRole},
      "Effect": "Allow",
      "Sid": "AssumeRole",
    },
    {
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Principal": ${principalsRole},
      "Effect": "Allow",
      "Sid": "AssumeRoleWithWebIdentity",
      "Condition": { "${condition_operator}" : { "${condition_key}" : "${condition_value}" }}
    }
  ]
}
